<div class="jumbotron">
  <div class="container">
    <h1>Contact me at</h1>
      <p><a href = "https://github.com/VietPhuongDo/rails_first_app">The github repo of this sample project </a></p>
      <p>Email: vietphuongdo511@gmail.com</p>
      <p>Phone: 0972760236</p>
  </div>
</div>